<!-- Top Bar -->
  <app-nav-links></app-nav-links>

<!-- Main Navbar -->
  <app-search-bar></app-search-bar>


<!-- Secondary Navbar -->
      <div class="collapse navbar-collapse" id="navbarSecondary">
        <ul class="navbar-nav w-100 px-2 d-flex align-items-center justify-content-between">
            <!-- Left side: Categories -->
            <li class="nav-item dropdown font-weight-bold" [class.show]="dropdownVisible">
                <!-- <a 
                  class="nav-link dropdown-toggle ml-2" 
                  role="button" 
                  (click)="toggleDropdownn($event)"
                  aria-haspopup="true" 
                  aria-expanded="dropdownVisible"
                >
                  Categories
                </a> -->
                  </li>
                  
            <!-- Center: Links -->
           
            
            <!-- Right side: Empty div for alignment -->
            <div class="empty-div"></div>
        </ul>
    </div>

