<div class="notification-box" *ngIf="showNotification" @fadeInOut>
  Item is already in the cart!
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<app-filter-products (sortOptionChanged)="applySorting($event)"></app-filter-products>

<div class="container">
  <div *ngIf="selectedCategory; else allCategories">
    <!-- Display only selected category -->
    <h2>{{ selectedCategory }}</h2>
    <div *ngIf="productsByCategory[selectedCategory]?.length; else noProducts">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of productsByCategory[selectedCategory]">
          <app-product [data]="product" (item)="addToCart($event)"></app-product>
        </div>
      </div>
    </div>
  </div>

  <ng-template #allCategories>
    <!-- Display all categories when no specific category is selected -->
    <div *ngFor="let category of categories">
      <h2>{{ category.name }}</h2>
      <div *ngIf="!productsByCategory[category.name]?.length">
        No products available in this category.
      </div>
      <div class="row" *ngIf="productsByCategory[category.name]?.length">
        <div class="col-md-3" *ngFor="let product of productsByCategory[category.name]">
          <app-product [data]="product" (item)="addToCart($event)"></app-product>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #noProducts>
    <p>No products available in this category.</p>
  </ng-template>
</div>
