.notification-box {
  position: fixed;
  top: 20px; /* Adjust this as necessary */
  right: 60px; /* Adjust this as necessary to position next to cart icon */
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


/* When the notification is visible, smoothly fade in */
.notification-box.ng-trigger {
  opacity: 1;
}

.notification-box.ng-trigger.ng-leave {
  opacity: 0;
}
