      <div class="product-card">
        <div class="sale-info" *ngIf="data.sale?.discountPercentage">
          <div class="discount-badge-container">
            <div class="discount-badge">
              -{{ data.sale?.discountPercentage }}%
            </div>
            <div class="sale-tooltip" *ngIf="data.sale?.saleEndDate" [class.expired]="!isSaleActive(data.sale.saleEndDate)">
              <span class="tooltip-icon">⏰</span>
              Ends {{ formatDate(data.sale.saleEndDate) }}
            </div>
          </div>
        </div>

        <div class="image-container">
          <img src="assets/images/mobile-iphone.jpg" [alt]="data.name" (click)="navigateToDetails()">
          
          <div class="action-icons" (click)="$event.stopPropagation()">
            <i class="icon-cart fa-regular fa-heart" (click)="toggleIcon($event, 'wishlist')"></i>
            <i class="icon-wishlist fa-solid fa-cart-shopping" (click)="toggleIcon($event, 'cart'); add()"></i>
          </div>

          <div class="color-options" *ngIf="data.colors && data.colors.length > 0" (click)="$event.stopPropagation()">
            <div class="color-item" *ngFor="let color of data.colors">
              <span class="color-dot" [style.background-color]="color.colorName">
                <span class="color-quantity">{{ color.quantity }}</span>
              </span>
            </div>
          </div>
        </div>
        
        <div class="product-info">
          <div class="product-brand" (click)="navigateToDetails()">{{ data.name }}</div>
          <div class="product-name">{{ data.description }}</div>
          <div class="product-price">
            {{ (data.price - (data.price * (data.sale?.discountPercentage / 100))) | currency }} LE
            <span class="old-price" *ngIf="data.sale?.discountPercentage">
              {{ data.price | currency }} LE
            </span>
          </div>
        </div>
      </div>
