      <div class="product-card">
        <div class="discount-badge" *ngIf="data.sale?.discountPercentage">{{ data.sale?.discountPercentage }}%</div>

        <!-- Image with icons -->
        <div class="image-container position-relative">
          <img src="assets/images/mobile-iphone.jpg" alt="Product 4">
          <!-- Cart and Wishlist icons inside the image -->
          <i class="icon-cart fa-regular fa-heart" (click)="toggleIcon($event, 'wishlist')"></i>
          <div class="color-options" *ngIf="data.colors">
            <span *ngFor="let color of data.colors" [ngStyle]="{'background-color': color}"></span>
          </div>
          <i class="icon-wishlist fa-solid fa-cart-shopping" (click)="toggleIcon($event, 'cart')"
          (click)="add()"
         ></i>
        </div>
        
        <!-- Product Info -->
        <div class="d-flex align-items-center justify-content-between">
          <div class="product-brand">{{ data.name }}</div>
        </div>
        <div class="product-name">{{ data.description }}</div>
        <div class="product-price">
          {{ (data.price - (data.price * (data.sale?.discountPercentage / 100))) | currency }} LE
          <span class="old-price" *ngIf="data.sale?.discountPercentage">{{ data.price }}</span>
        </div>
      </div>
