
<div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
    <div class="card card-flush py-4">
        <div class="row">
            <form>
                <mat-form-field>
                  <mat-label>Category Selection</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="name" (selectionChange)="filterCategory($event)">
                    <mat-option *ngFor="let category of categoryList" [value]="category._id" >
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                                    </mat-form-field>
                <p> Selected Category: {{selectedValue}} </p>
              </form>
              
        </div>
      
    </div>
  </div>
  <!-- <ag-grid-angular
  [gridOptions]="gridOptions"  
    class="ag-theme-balham h-auto"
  />
-->
  

<form [formGroup]="categoryForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="text">Category Name</label>
      <input type="text" class="form-control" placeholder="Category_name"  formControlName="name"
      id="name">

      
    </div>

  </div>
</form> 
<div class="card-footer d-flex justify-content-end pt-0">
    <button
      type="submit"
      class="btn btn-success me-5"
      (click)="msgSave()"
    >
      <span class="indicator-label">{{ "Save"  }}</span>
    </button>
    <button
    type="submit"
    class="btn btn-info me-5"
    (click)="msgUpdate()"
  >
    <span class="indicator-label">{{ "Update"  }}</span>
  </button>
  <button
  type="submit"
  class="btn btn-secondary me-5"
  (click)="newData()"
>
  <span class="indicator-label">{{ "Clear"  }}</span>
</button>

    <button
    type="submit"
    class="btn btn-danger me-5"
    (click)="mesgDelete()"
  >
    <span class="indicator-label">{{ "Delete"  }}</span>
  </button>

    <div class="col-lg-1"></div>
  </div>
