<div class="wishlist-container">
  <h2 class="wishlist-title">My Wishlist</h2>
  
  <div class="wishlist-items" *ngIf="wishlistItems && wishlistItems.length > 0">
    <div class="wishlist-item" *ngFor="let item of pagedItems">
      <div class="item-image">
        <img src="assets/images/mobile-iphone.jpg" [alt]="item.name">
      </div>
      <div class="item-details">
        <h3>{{item.name}}</h3>
        <p class="price">${{item.price}}</p>
        <div class="item-actions">
          <button class="btn-add-cart" (click)="addToCart(item)">
            Add to Cart
          </button>
          <button class="btn-remove" (click)="removeFromWishlist(item)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-wishlist" *ngIf="!wishlistItems || wishlistItems.length === 0">
    <p>Your wishlist is empty</p>
    <button routerLink="/products" class="btn-shop">Continue Shopping</button>
  </div>

  <app-pagination 
    *ngIf="wishlistItems && wishlistItems.length > 0"
    [currentPage]="currentPage"
    [totalItems]="wishlistItems.length"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="onPageChange($event)">
  </app-pagination>
</div>
  